section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

img {
    width: 250px;
    margin-top: 10px;
}

article {
    margin-bottom: 20px;
    margin-right: 20px;
    border-bottom: 1px solid silver;
    text-align: center;
}

article div span{
    width: fit-content;
    border-bottom: 3px solid silver;
    border-top: 3px solid silver;
    padding-bottom: 3px;
    padding-top: 3px;
}

header {
    background-color: darkgrey;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    section {
        grid-template-columns: repeat(1, 1fr);
    }
}